body{
    background-color: red;
}

h1{
    background-color: white;
}

h2{
    background-color: white;
}

p{
    font-size: 2rem;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
}