.navbar-expand-lg{
    background-color: red !important ;
    border-bottom: 2px solid black;
}

.navbar-navbar-expand-lg-bg-body-tertiary .conteiner-fluid .navbar-brand .nav-item .nav-link{
    color: white;
}
 h1{
    color:white;
 }
  
 body{
    background-color:#100E0D ;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    background-color: red;
}

h2{
    color: white;
}

header nav ul li{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    display:flex;
}

p{
    color: white;
    font-size: 1.5rem;
}

footer p{
    color: white;
}

