body {
    background-color: red;
}

.enlace-uno{
    text-decoration:none ;
    color: black;
    font-size: 1.5rem;
    background-color: yellow;
}

.enlace-dos{
    text-decoration: none;
    color: black;
    font-size:1.5rem;
    background-color: yellow;
}

.enlace-tres{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    background-color: yellow;
}